@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background: url(/images/circle.png) no-repeat;
    background-position: center;
    background-size: 40%;
    position: relative;
    right: 35%;
}

header nav{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

header nav .navbar{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .navbar .logo{
    height: 80px;
    width: 150px;
}

header nav .navbar .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 10px;
}

.navbar .menu li a{
    text-decoration: none;
    font-size: 17px;
    color: #2c3e50;
    font-weight: 500;
}

.navbar .menu li a:hover{
    color: #000;
}

.navbar .search-box{
    position: relative;
    height: 50px;
    width: 250px;
}

.search-box input[type="text"]{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    font-size: 18px;
    border-radius: 8px;
    padding: 0 10px 0 40px;
}

.search-box a{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #2c3e50;
    border-right: 2px solid #2c3e50;
    padding: 0 5px 0 0;
}

.content{
    position: absolute;
    top: 33%;
    left: 40%;
    
}

.content .text{
    font-size: 27px;
    color: #2c3e50;
}

.content .name{
    font-size: 75px;
    color: #2c3e50;
    margin: -20px 0 0 -3px;
}

.content .job{
    font-size: 40px;
    color: #2c3e50;
    display: flex;
}

.content .job .typing-text{
    color: #481de2;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #481de2;
    animation: typing 5s steps(15) infinite;
    
}

@keyframes typing{
    0%{
        width: 0ch;
    }

    50%{
        width: 15ch;
    }

    100%{
        width: 0ch;
    }
}

